@import "./reset.css";

:root {
    /* colors */
    --gs-color-white: #ffffff;
    --gs-color-black: #000000;
    --gs-color-primary: #409eff;
    --gs-color-success: #67c23a;
    --gs-color-warning: #e6a23c;
    --gs-color-danger: #f56c6c;
    --gs-color-info: #909399;
    --gs-bg-color: #ffffff;
    --gs-bg-color-page: #f2f3f5;
    --gs-bg-color-overlay: #ffffff;
    --gs-text-color-primary: #303133;
    --gs-text-color-regular: #606266;
    --gs-text-color-secondary: #909399;
    --gs-text-color-placeholder: #a8abb2;
    --gs-text-color-disabled: #c0c4cc;
    --gs-border-color: #dcdfe6;
    --gs-border-color-light: #e4e7ed;
    --gs-border-color-lighter: #ebeef5;
    --gs-border-color-extra-light: #f2f6fc;
    --gs-border-color-dark: #d4d7de;
    --gs-border-color-darker: #cdd0d6;
    --gs-fill-color: #f0f2f5;
    --gs-fill-color-light: #f5f7fa;
    --gs-fill-color-lighter: #fafafa;
    --gs-fill-color-extra-light: #fafcff;
    --gs-fill-color-dark: #ebedf0;
    --gs-fill-color-darker: #e6e8eb;
    --gs-fill-color-blank: #ffffff;

    /* border */
    --gs-border-width: 1px;
    --gs-border-style: solid;
    --gs-border-color-hover: var(--gs-text-color-disabled);
    --gs-border: var(--gs-border-width) var(--gs-border-style) var(--gs-border-color);
    --gs-border-radius-base: 4px;
    --gs-border-radius-small: 2px;
    --gs-border-radius-round: 20px;
    --gs-border-radius-circle: 100%;

    /* font */
    --gs-font-size-extra-large: 20px;
    --gs-font-size-large: 18px;
    --gs-font-size-medium: 16px;
    --gs-font-size-base: 14px;
    --gs-font-size-small: 13px;
    --gs-font-size-extra-small: 12px;
    --gs-font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '\5fae\8f6f\96c5\9ed1', Arial, sans-sgsif;
    --gs-font-weight-primary: 500;

    /* disabled */
    --gs-disabled-bg-color: var(--gs-fill-color-light);
    --gs-disabled-text-color: var(--gs-text-color-placeholder);
    --gs-disabled-border-color: var(--gs-border-color-light);

    /* animation */
    --gs-transition-duration: 0.4s;
    --gs-transition-duration-fast: 0.2s;
}
